.form-button,
.nav-button {
  font-size: 16px;
  line-height: 18px;
  background-color: #f50;
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  width: 100%;
}

.nav-button {
  height: 30px;
  line-height: 24px;
  padding: 2px 16px;
  font-size: 14px;
  font-weight: 100;
}

.transparent {
  background-color: transparent;
  border: 1px solid #fff;
}
