.playable-tile {
  max-width: 180px;
  max-height: 216px;
  width: 100%;
  height: 100%;
}

.playable-tile-art {
  position: relative;
  max-width: 100%;
  max-height: 180px;
  height: 100%;
  width: 100%;
  margin-bottom: 8px;
}

.playable-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artwork-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tile-signature {
  display: flex;
  flex-direction: column;
}

.tile-signature a {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tile-signature a:last-child {
  color: #999;
}

.tile-signature a:last-child:hover {
  color: #333;
}
