.user-card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #f2f2f2; */
  border-radius: 4px;
  width: fit-content;
  padding: 20px;
  padding-left: 0;
}

.icon-sound {
  height: 15px;
  width: 15px;
  color: #999999;
}

.user-card-name {
  font-size: 14px;
  font-weight: 300;
}

a.track-count,
a.track-count:visited {
  font-style: none;
  color: #999;
  font-size: 13px;
  padding-left: 2px;
}

a.track-count:hover {
  color: #666;
}

.user-card-stats {
  display: flex;
}
