.player {
  display: flex;
  flex-direction: column;
  min-width: 579px;
}

.player-medium {
  width: 100%;
  max-width: 819px;
  margin-right: 0;
}

.player-medium .player-timeline-container {
  margin-top: 30px;
}

.single-track-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto 340px;
  padding: 30px 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(18, 23, 19, 0.7466591282894737) 100%
  );
}

.player-large {
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.player-main {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.player-medium .track-artwork {
  margin-right: 15px;
}

.player-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
}

.player-large .player-content {
  justify-content: space-between;
}

.player-header {
  display: flex;
}

.player-header .player-medium {
  margin-bottom: 12px;
  padding-top: 7px;
}

.player-large .music-player-main {
  padding: 0 10px 15px 20px;
}

.track-artwork {
  height: 160px;
  width: 160px;
}

.link-user {
  font-size: 13px;
}

.player-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
