.music-player {
  display: grid;
  width: 580px;
  grid-template-columns: 160px 420px;
  border: 1px solid green;
}

.music-player-main-top {
  display: flex;
  align-items: center;
  border: 1px solid pink;
}

.music-player-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid blue;
  height: 100%;
  width: 100%;
}

.track-artwork {
  height: 160px;
  width: 160px;
}

.link-user {
  font-size: 13px;
}
