.music-player {
  display: grid;
  min-width: 600px;
}

.player-medium {
  width: 100%;
  grid-template-columns: 160px 1fr;
  margin-right: 0;
}

.player-large {
  display: flex;
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(18, 23, 19, 0.7466591282894737) 100%
  );
}

.music-player-main-top {
  display: flex;
  align-items: center;
}

.music-player-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15px;
  padding: 0 10px;
  height: 100%;
  width: 100%;
}

.player-large .music-player-main {
  padding: 0 10px 15px 20px;
}

.track-artwork {
  height: 160px;
  width: 160px;
}

.link-user {
  font-size: 13px;
}
