.edit-button,
.delete-button {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 22px;
  padding: 2px 8px;
  border: 1px solid rgba(118, 118, 118, 0.3);
  border-radius: 4px;
  margin: 0 3px;
  background-color: #fff;
}

.edit-button:hover,
.delete-button:hover {
  border: 1px solid rgba(118, 118, 118, 0.5);
}

.action-button-icon {
  margin-right: 3px;
}
