.media-button {
  background-color: #f50;
  background-size: cover;
  background-position: center;
  overflow: auto;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-button.transparent {
  background-color: transparent;
  color: #000;
}

.media-button:hover {
  filter: brightness(95%);
}

.play-button {
  background-image: url(../../assets/images/play-button.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.pause-button {
  background-image: url(../../assets/images/pause-button.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.media-button.small-button {
  height: 36px;
  width: 36px;
}

.media-button.medium-button {
  height: 36px;
  width: 36px;
}

.media-button.large-button {
  height: 60px;
  width: 60px;
}
