.media-button {
  background-image: url(../../assets/images/play-button.png);
  background-color: #f50;
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
}

.media-button:hover {
  filter: brightness(95%);
}

.play-button {
  background-image: url(../../assets/images/play-button.png);
}

.pause-button {
  background-image: url(../../assets/images/pause-button.png);
}

.small-button {
  height: 36px;
  width: 36px;
}

.medium-button {
  height: 36px;
  width: 36px;
}

.large-button {
  height: 60px;
  width: 60px;
}
