.player-medium .timeline {
  z-index: 2;
  margin-top: -30px;
  margin-bottom: 30px;
}

.timeline {
  display: flex;
  flex-direction: column;
}

.timers-container {
  display: flex;
  align-items: center;
  height: 12px;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.timers-container.between {
  justify-content: space-between;
}

.timers-container.end {
  justify-content: flex-end;
}

.timer-text,
.duration-text {
  font-size: 12px;
  height: 15px;
  padding: 2px;
  background-color: #000;
  width: fit-content;
  margin: 0;
}

.duration-text {
  justify-self: flex-end;
}

.timer-text {
  color: #f50;
}

.duration-text {
  color: #999;
}

.player-medium .timeline-comments {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 2px;
  width: 100%;
  height: 10px;
  margin: 0;
  padding: 0;
}

.timeline-comment,
.timeline-comment img {
  padding: 0;
  margin: 0;
}
