.track-details {
  display: flex;
  align-items: center;
}

.track-details-large {
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.track-links-medium {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.link-title-medium {
  font-size: 14px;
}

.link-user-medium {
  font-size: 13px;
}

.link-user-medium,
.link-user-medium:visited {
  color: #999;
  font-weight: 200;
  margin: 0;
}

.link-user-medium:hover {
  filter: brightness(70%);
  color: #666;
}

.link-title-medium,
.link-title-medium:visited {
  color: #333;
  font-weight: 300;
}

.link-title-medium:hover {
  color: #000;
  filter: brightness(70%);
}

.track-links-large {
  display: flex;
  flex-direction: column-reverse;
}

h1.link-title-large {
  display: inline;
  color: white;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 3px;
  /* text-align: center; */
  /* width: fit-content; */
  margin-top: 0;
  max-width: 433px;
  /* padding: 4px 7px; */
}

.link-title-large span {
  background-color: #000;
  padding: 4px 7px;

  line-height: 1;
}

a.link-user-large {
  color: #cccccc;
  font-size: 16px;
  font-weight: 300;
  background-color: #000;
  padding: 3px 7px;
  width: fit-content;
}

a.link-user-large:hover {
  color: #fff;
}

.time-since {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  align-self: flex-start;
}
