.track-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-bottom: 12px;
}

.track-header-text {
  padding-left: 8px;
}

.track-header {
  font-size: 13px;
  font-weight: 400;
  color: #333;
}

.track-header a:hover {
  color: #000;
}

.track-header span {
  font-size: 13px;
  font-weight: 400;
  padding-left: 4px;
  color: #999;
}
