.track-actions {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 7px;
}

.track-actions .edit-button {
  margin-left: 0;
}

.player-large .track-actions {
  height: fit-content;
}
