.overlay.absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay.blur {
  z-index: 1;
  background-size: cover;
  filter: blur(80px);
  -moz-filter: blur(80px);
  opacity: 0.9;
}
