.profile-picture {
  object-fit: cover;
}

.profile-picture-round {
  border-radius: 50%;
}

.profile-picture-small {
  width: 30px;
  height: 30px;
}

.profile-picture-medium {
  width: 40px;
  height: 40px;
}

.profile-picture-large {
  width: 120px;
  height: 120px;
}

/* .profile-picture:hover {
  border-color: #333;
} */

.profile-picture-tiny {
  width: 10px;
  height: 10px;
}

.profile-picture-200 {
  width: 200px;
  height: 200px;
}
