.profile-picture {
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #999;
}

.profile-picture-small {
  width: 30px;
  height: 30px;
}

.profile-picture-medium {
  width: 40px;
  height: 40px;
}

.profile-picture-large {
  width: 120px;
  height: 120px;
}

.profile-picture:hover {
  border-color: #333;
}
