.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.upload.content-wrap {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 890px;
}

.upload-page h1 {
  margin-top: 0;
}

.form-note {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 6px;
  border: 1px solid hsla(0, 0%, 59.2%, 0.2);
  width: 100%;
  height: 44px;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.form-note span {
  margin: 0;
  line-height: 100%;
  padding-top: 8px;
  font-weight: 300;
}

.form-file-name {
  font-size: 13px;
  color: #666;
}

.upload-form {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 890px;
  margin: 0;
  border: 1px solid #f2f2f2;
  padding: 25px;
  box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.1);
}

.upload-form .form-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.upload-form .form-header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  margin-bottom: 25px;
}

.upload-form .form-heading {
  font-size: 24px;
  font-weight: 600;
  color: #f50;
  border-bottom: 2px solid #f50;
  line-height: 1.6;
  margin: 0;
}

.form-fields {
  width: 100%;
}

.form-fields .form-row:first-child {
  padding-top: 0;
}

.form-image-preview {
  position: relative;
  height: 260px;
  width: 260px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 16px;
}

.form-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.file-button {
  width: 128px;
  height: 26px;
  padding: 2px 11px;
  color: #333;
  border: #333;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 300;
}

.file-button.upload {
  position: absolute;
  right: 65px;
  top: 195px;
  width: 128px;
  height: 26px;
  border: #333;
  background-color: #e4e5e7;
  transition: background-color 0.1s linear;
}

.file-button:hover {
  background-color: #fff;
}

.file-button.replace {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 26px;
  transition: border 0.1s linear;
  margin-left: 131px;
}

.file-button.replace:hover {
  border: 1px solid #666;
}

.btn-icon {
  position: relative;
  top: 2px;
}

.form-requirement {
  font-weight: 400;
  font-size: 13px;
}

.form-submit-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #ccc;
}

.validation-error-list.upload {
  padding: 0;
  margin: 0;
}

.upload-form .form-buttons {
  display: flex;
  align-items: center;
}

.upload-form .small-button {
  margin-top: 0;
}

.upload-form .large-button {
  margin-top: 0;
  margin-bottom: 7px;
}
