.stream {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f2f2f2;
  padding: 46px 30px 76px 30px;
}

.stream h1 {
  margin-bottom: 0;
}

.stream-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 0;
  padding-bottom: 30px;
}

.stream .music-player {
  padding: 0;
}

.main-stream {
  padding-left: 0;
}
