.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url('../../assets/images/hero-background.jpeg');
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* max-width: 700px; */
  width: 100%;
  line-height: 1.5;
  padding-top: 75px;
}

.hero-title {
  color: #fff;
  font-size: 36px;
  font-weight: 200;
  margin: 0;
}

.hero-tagline {
  color: #fff;
  font-size: 19px;
  font-weight: 100;
  max-width: 530px;
  margin: 0;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  max-width: 530px;
  width: 100%;
}

.large-button:first-child {
  margin-right: 25px;
}
