.trending-tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 560px;
  width: 100%;
}

.trending-tracks-title {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}

.tracks-container {
  display: grid;
  grid-template-columns: repeat(6, 180px);
  column-gap: 20px;
  max-height: 216px;
  height: 100%;
  margin-bottom: 20px;
}

.trending-tracks button {
  width: 220px;
}
