.loading-spinner {
  border-radius: 50%;
  border: 4px solid rgba(51, 51, 51, 0.3);
  border-left: 4px solid #000;
  animation: load 1s infinite linear;
  width: 25px;
  height: 25px;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  height: 20px;
  width: 40px;
}
