.form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 7px 0;
}

label {
  font-size: 16px;
  margin-bottom: 6px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px 8px;
  height: 40px;
  width: 100%;
  font-weight: 300;
}

input,
::placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

input:focus {
  outline: none;
}

.validation-error {
  font-size: 13px;
  color: #d61348;
  margin: 8px 0 0 0;
}

input.error-field {
  border-color: #d61348;
}
