.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  height: 48px;
  border-top: 1px solid #999;
  z-index: 200;
}

.footer-player {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  padding-left: 22px;
  background-color: #f2f2f2;
  height: 48px;
}

.player-controls {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.player-control {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  margin-left: 12px;
  width: 24px;
  height: 48px;
  border: 0;
  padding: 0;
}

.player-control:first-child {
  margin-left: 0;
}

.footer-slider {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 4px;
}

.footer-slider .slider-container {
  width: 512px;
  /* width: 100%; */
  margin: 0 10px;
}

p.transparent {
  background-color: transparent;
  font-size: 14px;
  width: 50px;
  border: 0;
}

.footer-slider .timer-text {
  text-align: right;
}

.footer-slider .duration-text {
  text-align: left;
  margin-right: 10px;
}

.soundbadge {
  display: flex;
  align-items: center;
}

.soundbadge-image {
  height: 30px;
  margin-right: 7px;
}

.soundbadge-links {
  display: flex;
  flex-direction: column;
  width: 223px;
  max-width: 223px;
  height: 30px;
}

.footer-player .soundbadge a {
  font-size: 13px;
}

.soundbadge-links a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.soundbadge-links a {
  font-size: 14px;
}
