/* TODO Add site wide styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Overpass', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Garuda,
    Verdana, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid green;
  align-items: center;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}
