.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  height: 48px;
  border-top: 1px solid #999;
}

.footer-player {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  padding: 0 12px;
}

.player-controls {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.player-control {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  margin-left: 12px;
  width: 24px;
  height: 48px;
  border: 0;
  padding: 0;
}

.player-control:first-child {
  margin-left: 0;
}

.footer-player .player-timeline-container {
  align-items: center;
  width: 632px;
}

.footer-player .progress-bar {
  position: relative;
  bottom: 4px;
  width: 512px;
  margin: 0;
}

.footer-player .timers-container {
  position: relative;
  top: 10px;
  margin: 0;
  padding: 0 15px;
}

p.transparent {
  background-color: transparent;
  font-size: 14px;
  border: 0;
}

.soundbadge {
  display: flex;
  align-items: center;
}

.soundbadge-image {
  height: 30px;
  margin-right: 7px;
}

.soundbadge-links {
  display: flex;
  flex-direction: column;
  width: 223px;
  max-width: 223px;
}

.soundbadge-links a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.soundbadge-links a {
  font-size: 14px;
}
