.volume-container {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 35px;
  /* flex-direction: column; */
  /* position: relative; */
  /* width: 24px; */
  /* height: 46px; */
  /* overflow: visible; */
}
