.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid brown;
  height: fit-content;
  width: 100%;
  background-color: green;
}

.nav-right {
  display: flex;
}

.nav-logo {
  color: #fff;
  font-size: 14px;
}
