.nav-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
  max-width: 1240px;
  background-color: transparent;
  /* padding: 8px 30px; */
  margin: 25px 30px;
  padding: 0 30px;
}

.nav-right {
  display: flex;
}

.nav-button.transparent {
  margin-right: 10px;
}

.nav-logo {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
