.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.header-main {
  background-color: #333;
}

.header.transparent {
  border: 0;
  position: absolute;
}

.header.transparent .nav-bar {
  border-top: 3px solid #f50;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  width: 100%;
  max-width: 1240px;
}

.nav-main-left,
.nav-main-right,
.unauthenticated-links,
.landing-links-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.nav-main .nav-item,
.nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-weight: 300;
  font-size: 15px;
  height: 46px;
  width: 104px;
}

.nav-item:hover,
.nav-item:hover a {
  color: #fff;
}

.nav-item.signout {
  width: 60px;
}

.nav-main-left .nav-item {
  border-right: 1px solid #000;
}

.nav-links.unauthenticated {
  display: flex;
}

.nav-main .active {
  background-color: #000;
  color: #fff;
}

.active.logo {
  background-color: initial;
}

.nav-item.logo,
.nav-link.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f50;
  width: 184px;
}

.transparent .logo {
  background-color: transparent;
}

.nav-link.logo {
  justify-content: center;
}

.nav-item.logo a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.nav-logo {
  font-size: 50px;
  margin-right: 5px;
}

.nav-logo-text {
  position: relative;
  top: 2px;
}

.nav-button.transparent {
  border: 1px solid #999;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 7px;
}

.nav-bar .transparent:hover {
  border-color: #ccc;
}

.upload-button,
.upload-button .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: 15px;
  font-weight: 300;
  height: 46px;
  width: 65px;
}

.upload-button:hover a,
.upload-button .active {
  color: #fff;
}
