.nav-item-dropdown {
  /* width: 133px; */
  max-width: 150px;
  padding: 0;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: 15px;
  font-weight: 300;
  width: 100% !important;
  padding: 0 12px;
}

.profile-button-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 4px;
}

.profile-button:hover {
  color: #fff;
}

.profile-button-username {
  max-width: 80px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
