.nav-item-dropdown {
  width: 133px;
  padding: 0 10px;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: 15px;
  font-weight: 300;
  width: 100%;
}

.profile-button-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 4px;
}

.profile-button:hover {
  color: #fff;
}

.profile-button-username {
  width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
